# Артефакты сборки
build/
cmake-build-*/
*.o
*.obj
*.exe
*.out
*.pdb
*.ilk

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo

# Локальные данные/временные файлы (раскомментируй при необходимости)
# grades.txt
